.cards-item {
    max-height: 394px;
    max-width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__price {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}
.product__info {
    margin: 16px 0 30px;
    max-width: 255px;
}
.product__info_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 255px;
}
.img__containter {
    position: relative;
    width: 255px;
    height: 318px;
}
.img__containter img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.cards-item .product__title {
    margin-bottom: 12px;
    opacity: 0.6;
}
.product__prev_price {
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    text-decoration-line: line-through;
    opacity: 0.4;
    color: #121212;
    padding-left: 4px;
}

@media (max-width: 1049px) {
}
