.app {
  /* max-width: 1110px; */
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display SC", serif;
  font-family: "Spartan", sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
