.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin: 36px 0;
    text-transform: uppercase;
    width: 100%;
}
.filter__controls {
    width: 95px;
    display: flex;
    justify-content: space-between;
    opacity: 0.6;
    cursor: pointer;
}
.filter__view {
    width: 60px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.filter__select {
    opacity: 0.6;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.06em;
}
.icon-menu-def {
    opacity: 0.6;
}
.select__label {
    font-family: Spartan;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-align: left;
}
select {
    display: none;
}
.filter .icon-arrow {
    position: initial;
}
.filter .icon {
    transform: rotate(90deg);
}
.filter__selection_header {
    display: flex;
    position: relative;
    cursor: pointer;
}
.filter ul {
    position: absolute;
    top: 29px;
    right: -15px;
    padding: 20px;
    width: 300px;
    /* margin-right: 50px; */
    background: #fff;
    opacity: 0.9;
    border-radius: 4px;
    z-index: 10;
}
.filter ul li {
    width: 100%;
    padding: 10px;
    text-align: end;
}
.filter ul li a {
    width: 100%;
    padding: 10px;
}

.filter__block {
    width: 100%;
    min-height: 300px;
    margin-bottom: 32px;
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
