.clothes_filter__selection_header {
    display: none;
    text-transform: uppercase;
}
.clothes__header ul,
.clothes__header li {
    list-style: none;
    display: inline-block;
}

.clothes__header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clothes__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    position: relative;
}
.clothes__header a {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-align: right;
    padding-left: 32px;
    opacity: 0.6;
}
.clothes__header span {
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.clothes__header a.selected {
    font-weight: 500;
    opacity: 1;
}
@media screen and (max-width: 900px) {
    .clothes__header ul {
        flex-direction: column;
        position: absolute;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px;
        right: 0;
        border-radius: 4px;
        width: 50%;
    }
    .clothes__header li {
        padding: 10px;
    }

    .clothes_filter__selection_header {
        display: flex;
        justify-content: flex-end;
    }
}
