.clothes__cats {
    display: flex;
    justify-content: space-between;
}
.clothes__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}
a.clothes__cats_item  {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-align: right;
    padding-left: 32px;
    opacity: 0.6;
}
.clothes__header span {
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.clothes__header .selected {
    font-weight: 500;
    opacity: 1;
}

.clothes_filter__selection {
    display: flex;
}

.clothes_filter__selection ul {
    text-align: left;
}

.clothes .custom__select {
    text-align: end;
}

@media screen and (max-width: 996px) {
    .clothes__header ul {
        display: flex;
        flex-direction: column;
    }
    a.clothes__cats_item.selected {
        display: block;
    }
}
